<form action="/" method="post">
  <!--implement the object-related form for an album	-->
  <label>Name</label>
  <input name="name" type="text" placeholder="Your name" />
  <label>Artist</label>
  <input name="artist" type="text" placeholder="The artist" />
  <label>Year</label>
  <input name="year" type="text" placeholder="ex: 2010" />
  <input type="submit" value="Post">
</form>
<a href=/>Back to jukebox list</a>
